#registration_errors
{
	color: red;
}

div.event
{
	width: 140px;
	height: 65px;
	border-radius: 10px;	
	-moz-border-radius: 10px;	
	-webkit-border-radius: 10px;
	border: 2px solid black;
	padding: 2px;	
}

div.event *
{
	float: left;
}

div.event span.event_date
{
	font-size: 0.8em;
	width: 100%;	
}

div.event span.event_title
{
	font-size: 0.8em;
	width: 100%;	
}

div.event a
{
	float: right;
}
