h1{
    margin: 0px !important;
}

html, body{
    height: 100%;
}

#screen{
    min-height: 70%;
<<<<<<< HEAD
   	overflow: hidden;
}

=======
    overflow: hidden;
    display: none}
>>>>>>> no js events show; Auth

footer{
    height: 147px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    overflow-y: scroll;
}


#marker{
    height: 20px;
    width: 130px;
    background-color: lightblue;
    top: 70px;
}


#ideas{
    height: 120px;
    position: absolute;
	width: 3000px;
    background-color: lightblue;
    padding: 5px;
    overflow: scroll;
}

#ideas div.idea{
	height: 100px;
    display: block;
    float: left;

	margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
     
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 2px solid black;
    padding: 2px;
    text-align:center;
/*    background-color: yellow;*/
}

#timeline div.idea_shadow{
	height: 100px;
    position: absolute;
    background-color: yellow;
    opacity: .6;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 2px solid black;
    padding: 2px;
    text-align:left;
}

#timeline{
    min-height: 200px;
    float: left;
}

#timeline div.event{
    position: absolute;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 2px solid black;
    padding: 2px;
    text-align:center;
    
/*    background-color: green;*/
}

#timeline div.event_shadow{
    background-color: lightgreen;
}

#timeline div.scale{
    height: 30px;
    background-color: lightyellow;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    position: relative;
}

#timeline div.scale div{
    border-left: 1px solid black;
    text-align: center;
    position: absolute;
    height: 100%;
}

#timeline div.line{
    min-height: 65px;
    position: relative;
}
